{
  "extends": "airbnb",
  "rules": {
    "comma-dangle": 0,
    "arrow-body-style": 0
  },
  "globals": {
    "describe": false,
    "it": false,
    "before": false,
    "beforeEach": false,
    "after": false,
    "afterEach": false
  }
}
