@import './variables';

.app-header {
  background: $color--dark;
  color: $color--light;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

  .app-header__title {
    font-size: 2rem;
  }
